html{
    padding:0%;
    margin: 0%;
    background: #facc29;
}

p{
    text-align: justify;
    padding: 4%;
}


.container{
    max-width:max-content

}
body{
    background:#facc29;
    padding: 0%;
}
header{
    background:#1f201f;
    top: 0%;
    position: sticky;
    }

header ul li{
    color: white !important;
}

.navbar{
    background: #1f201f;
    max-width: 100%;
}
.nav-item{
    color: white
}
iframe{
    background: #facc29;
    justify-content: center;
}

form{
    max-width: 40%;
}
.img-fluid{
    padding: 4%;

}

.botonvolver{
    width: 8%;
    float: right;
    position: sticky !important;
    top: 60%;

}

.bloquegeneral{
    padding: 4%;
}

.etiquetaform{
    
    font: bold;
}

#planteldocente{
    padding-right: 20%;
    padding-left: 20%;
}

form{
    font: bold;
    background-color: white;
    padding-top: 10%;
    padding-bottom: 10%;
    border-radius: 1%;
    border-color: black !important;
}



footer{
    width: 5%;
}

#bloque{
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#clasevigente{
    padding-top: 2%;
    padding-bottom: 2%;
}




/*Media querie para celulares*/

@media screen and (min-width:0px) and (max-width:560px) {

body{
    padding: 0%;
    margin: 0%;
}


/*header{}
    
Pendiente resolver aca lo de la barra de navegación que desaparece*/


.nav-bar{
display: fixed;
flex-wrap: wrap;
text-align: center;
}

    .navbar-brand{
    text-align: center;

    }

    iframe{
    width: 95%;
    text-align: center;
    }


    .botonvolver{
    display: none;
    }

}




/*Pendiente solucionar: lograr que la barra de navegación sea responsive*/